rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /conversations/{convoId} {
      allow read, write: if request.auth != null &&
        (request.auth.uid in convoId.split('_'));

      match /messages/{messageId} {
        allow read, write: if request.auth != null &&
          (request.auth.uid in convoId.split('_'));
      }
    }
  }
}